{{#each friends}}
    <div class="friend">
        <img class="photo" src="{{photo_100}}">
        <div class="name">{{first_name}} {{last_name}}</div>
        <div class="location">
            {{#if country}}
                <div class="country">{{country.title}}</div>
            {{/if}}
            {{#if city}}
                <div class="city">{{city.title}}</div>
            {{/if}}
        </div>
    </div>
{{/each}}
